Write a Python program that reads 10 numbers from the user into a list. After reading each number, print all the numbers that have been entered so far in the list.
Example:
After the user enters 3, prints “Numbers in the list: [3]”
After the user enters 5, prints “Numbers in the list: [3, 5]”
After the user enters 34, prints “Numbers in the list: [3, 5, 34]”
.... and so on

In [ ]:
N = int(input())
a = []
i = 1
while i <= N:
  num = int(input())
  a.append(num)
  i += 1
  print(a)

6
12
[12]
14
[12, 14]
14
[12, 14, 14]
13
[12, 14, 14, 13]
13
[12, 14, 14, 13, 13]
16
[12, 14, 14, 13, 13, 16]

Write a Python program that takes a list as an input from the user.Then creates a new list excluding the first and last two elements of the given list and prints the new list. If there are not enough elements in the list to do the task, the print "Not possible".
Note: You may use list slicing.
===================================================================
Sample Input 1:
[10, 20, 24, 25, 26, 35, 70]
Sample Output 1:
[24, 25, 26]
===================================================================
Sample Input 2:
[10, 20, 24, 25, 26]
Sample Output 2:
[24]
===================================================================
Sample Input 3:
[10, 20, 24, 25]
Sample Output 3:
[]
===================================================================
Sample Input 4:
[10, 20, 24]
Sample Output 4:
Not possible
===================================================================

In [ ]:
inp = int(input())
a = []
count = 0
for i in range(inp):
  n = int(input())
  a.append(n)
  count += 1

b=a[2:len(a)-2]
print(b)

7
10
20
30
40
50
60
70
[30, 40, 50]

Write a python program that reads 5 numbers from the user into a list, and then prints them in the reverse order.
Hint: You may create a list to store the input numbers and then use loop to print them in reverse order
===================================================================
Sample Input:
5
-5
100
1
0
Sample Output:
0
1
100
-5
5
===================================================================

In [ ]:
N = int(input())
list = []

for i in range(N):
  n = int(input())
  list.append(n)
print(list[::-1])

5
5
-5
100
1
0
[0, 1, 100, -5, 5]

Assume, you have been given two lists. [Your program should work for any two given lists; change the following lists and check whether your program works correctly for the code you have written]
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]
Write a Python program that creates a new list with all the even elements of both of the given lists and prints the new list.
Hint: You may create a third list to store the even elements of the given lists.
===================================================================
Output for the above lists: [2, 4, 6, 8, 10, 12, -14, -16]
===================================================================

In [ ]:
list1 = [1,2,3, 4, 5, 6, 7, 8, 9]
list2 = [10,11, 12, -13, -14, -15, -16]
newlist = []

for i in range(len(list1)):
  if list1[i] % 2 == 0:
    newlist.append(list1[i])

for j in range(len(list2)):
  if list2[j] % 2 == 0:
    newlist.append(list2[j])

print(newlist)

[2, 4, 6, 8, 10, 12, -14, -16]

Write a Python program that takes numbers as input into a list, removes multiple occurences of any number and then finally prints a list without duplicate values.
Hint: You may create a third list to store the results. You can use membership operators (in, not in) to make sure no duplicates are added.
===================================================================
Sample Input 1:
0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Sample Output 1:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
===================================================================
Sample Input 2:
7, 7, 7, 1, 0, 3, 3, 55, 9
Sample Output 2:
[7, 1, 0, 3, 55, 9]
===================================================================

In [ ]:
n = input()
a = n.split(",")
lst =[]

for i in range(1,len(a)):
  m = a[i].strip()
  if m not in lst:
    lst.append(m)

print(lst)

0, 0, 1, 2, 3,                                                                                     4, 4                      , 5, 6, 6, 6, 7, 8, 9, 4, 4
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
n = input()
a = n.split(",")
lst =[]

for i in a:
  m = i.strip()
  if m not in lst:
    lst.append(m)

print(lst)

0,0,10,12,34,23
['0', '10', '12', '34', '23']

Write a Python program that reads 5 numbers into a list and prints the largest number and its location or index position on the list. [You are not allowed to use the max(), sort(), sorted() function here]
Hint: Assume the first input to be the largest value initially and the largest value’s location to be 0.
Note: You may need to be careful while printing the output. Depending on your code, you might need data conversion.
===================================================================
Sample Input:
7, 13, 2, 10, 6
Sample Output:
My list: [7, 13, 2, 10, 6]
Largest number in the list is 13 which was found at index 1.
===================================================================

In [ ]:
inp = input()
a = inp.split(',')
max = a[0]
count = 0
ncount = 0

for i in a:
  m = i.strip()
  count += 1
  if int(m) > int(max):
    max = m
    ncount = count-1

print("Largest number in the list is",max,"which was found at index",ncount)

7, 13 , 2 ,10 ,6 ,15
Largest number in the list is 15 which was found at index 5

In [ ]:
inp = input()
a = inp.split(',')
max = a[0]

for i in a:
  m = i.strip()

  if int(m) > int(max):
    max = m
    #a = str(max)

print(inp.find(max))

7,12,13,14

ValueError: invalid literal for int() with base 10: '7,12,13,14'

Assume, you have been given two lists. [Your program should work for any two given lists; make changes to the lists below and check whether your program works correctly]
list_one = [1, 2 , 2, 4, 5, 5, 7, 99, 200, 303, 70]
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
Write a Python program that creates a new list with all the unique elements of both the given lists. You need to make sure that there are no duplicates in the resulting list. Finally, print the updated list.
Hint: You may create a third list to store the results. You can use membership operators (in, not in) to make sure no duplicates are added.
===================================================================
Output for the above two lists: [1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]
===================================================================

In [ ]:
list_one = [1, 2 , 2, 4, 5, 5, 7, 99, 200, 303, 70,-4]
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5,-3,-4,-6]
a = []
if len(list_two) >= len(list_one):
  for i in list_two:
     if i in list_one:
      if i not in a:
        a.append(i)

  else:
    for i in list_one:
     if i in list_two:
      if i not in a:
        a.append(i)

print(a)

[1, 2, 4, 5, 200, -4]

In [ ]:
list_one = [1, 2 , 2, 4, 5, 5, 7, 99, 200, 303, 70,-4]
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
lst = []
for i in list_one:
  #m = i.strip()
  if i not in lst:
    lst.append(i)
for i in list_two:
  if i not in lst:
    lst.append(i)

print(lst)
#print(a)

[1, 2, 4, 5, 7, 99, 200, 303, 70, -4, 3, 500, -5]

Write a Python program that takes two lists and prints True if they have at least one common member.
===================================================================
Sample Input 1:
List_one : [1, 4, 3, 2, 6]
List_two : [5, 6, 9, 8, 7]
Sample Output 1:
True
===================================================================
Sample Input 2:
List_one : [1, 4, 3, 2, 5]
List_two : [8, 7, 6, 9]
Sample Output 2:
False
===================================================================

In [ ]:
list_one = [1, 4, 3, 2, 6]
list_two = [1,5, 6, 9, 8, 7]
a = []
if len(list_one) >= len(list_two):
  for i in list_one:
    if i in list_two:
      a.append(i)
else:
   for i in list_two:
      if i in list_one:
         a.append(i)
#print(a)

if a != [] :
  print(True)
else:
  print(False)

[1, 6]
True

Write a Python program that reads 10 numbers into a list and prints the numbers of that specified list after removing even numbers from it.
=========================================================================
Sample Input:
7,12,4,55,96,2,11,61,33,42
Sample Output:
[7, 55, 11, 61, 33]

In [ ]:
N = input()
lst = N.split(',')
nlst = []

for i in range(len(lst)):
  a = lst[i].strip()

  if int(a) % 2 != 0:
    nlst.append(int(a))

print(nlst)

7,12,4,55,96,2,11,61,33,42
[7, 55, 11, 61, 33]

Write a Python program to remove Empty strings from a given list of strings from the user.
=========================================================================
Sample Input:
"hey", "there", " ", "what's", " ", "up", " ", "?"
Sample Output:
["hey", "there", "what's", "up", "?"]
==========================================================================

In [ ]:
inp = input()
lst = inp.split(",")
nlst = []
for i in lst:
  a = i.strip()
  if a == " " :
    pass
  else:
    nlst.append(a)

print(nlst)

hey, meri,     how , are , u ,    ?
['hey', 'meri', 'how', 'are', 'u', '?']

Write a Python program that replaces the last element of first list with second list.
===================================================================
Sample Input 1:
List_one : [1, 4, 7, 5]
List_two : [6, 1, 3, 9]
Sample Output 1:
[1, 4, 7, 6, 1, 3, 9]
===================================================================
Sample Input 2:
List_one : [1, 3, 5, 7, 9, 10]
List_two : [2, 4, 6, 8]
Sample Output 2:
[1, 3, 5, 7, 9, 2, 4, 6, 8]
===================================================================

In [ ]:
list_one = [1, 4, 7, 5]
list_two = [6, 1, 3, 9]
lst = list_one[0:len(list_one)-1] + list_two
print(lst)

[1, 4, 7, 6, 1, 3, 9]

In [ ]:
list_one = [1,4,7,5]
list_two = [6, 1, 3, 9]
lst = []

for i in range(len(list_one)-1):

  a = str(list_one[i]).strip()
  lst.append(int(a))

for i in list_two:
  b = str(i).strip()
  lst.append(int(b))

print(lst)

[1, 4, 7, 6, 1, 3, 9]

In [ ]:
a = [1,2,3,4,5]
b = [10,11,12,13,14]
c = a[0:len(a)-1] + b
print(c)

[1, 2, 3, 4, 10, 11, 12, 13, 14]

Write a Python program that turns every item of a list into its square.
===================================================================
Sample Input 1:
[1, 2, 3, 4, 5, 6, 7]
Sample Output 1:
[1, 4, 9, 16, 25, 36, 49]
===================================================================
Sample Input 2:
[3, 5, 1, 6]
Sample Output 2:
[9, 25, 1, 36]
===================================================================

In [ ]:
lst = [1, 2, 3, 4, 5, 6, 7]
a = []
for i in lst:
  a.append(i*i)
print(a)

[1, 4, 9, 16, 25, 36, 49]

Write a Python program that reads 5 numbers into a list and prints the smallest and largest number and their locations in the list. [You are not allowed to use the max(), min(), sort(), sorted() functions here]
Hint: You may assume the first input to be the largest value initially and the largest value’s location to be 0. Similarly, you can assume the first input to be the smallest value initially and the smallest value’s location to be 0.
Note: You may need to be careful while printing the output. Depending on your code, you might need data conversion.
===================================================================
Sample Input:
7, 13, -5, 10, 6
Sample Output:
My list: [7, 13, -5, 10, 6]
Smallest number in the list is -5 which was found at index 2
Largest number in the list is 13 which was found at index 1

In [ ]:
N = (input())
lst = N.split(",")

max = lst[0]
min = lst[0]

maxindx = 0
minindx = 0
for i in range(0,len(lst)):
  m = lst[i].strip()
  if int(m) > int(max):
      max = m
      maxindx = i

  else:
      if int(m) < int(min) :
        min = m
        minindx = i

print("Max:",max,maxindx)
print("Min:",min,minindx)

7, 13, -5, 10, 6
Max: 13 1
Min: -5 2

Write a Python program that takes two lists as an input from the user. Then print a new list with the common elements of both the input lists.
Hint: You may need to create a third list to store the results. You can use membership operators (in, not in) to make sure similar elements are added.
===================================================================
Sample Input 1:
A, B, C, D
C, E , F, B
Sample Output 1:
['C', 'B']
===================================================================
Sample Input 2:
1, 3, A, H, P
A, G, 1, P, O
Sample Output 2:
['1', 'A', 'P']
===================================================================

In [ ]:
inp1 = input()
inp2 = input()
lst = []
for i in inp1:
  m = i.strip()
  if m ==" " or m ==',':
    pass
  elif m in inp2:
    if m not in lst:
     lst.append(m)

print(lst)

a,b,c,d
c,d,e.f
['c', 'd']

Write a Python program that reads 5 numbers into a list and prints the second largest number and its location or index position on the list. [You are not allowed to use the max(), sort(), sorted() function here]
===================================================================
Sample Input:
7, 13, 2, 10, 6
Sample Output:
My list: [7, 13, 2, 10, 6]
Second largest number in the list is 10 which was found at index 3.
===================================================================

In [ ]:
inplst = input()
mylst = inplst.split(",")
mainlst = mylst.copy()
targetlst = []
mx = mylst[0].strip()
j = len(mylst)
for k in range(0,j):
    for i in range(1,j):
        a = mylst[i].strip()
        if int(a)>int(mx):
            mx = a

    if mx not in targetlst:
        targetlst.append(mx)
        mylst.remove(mx)
        j = len(mylst)
        if j!=0:
            mx = mylst[0]
second = targetlst[1]
lidx = mainlst.index(second)
print("My list:",mainlst)
print(f"Second largest number in the list is {second} which was found at index {lidx}.")

7,12,13,11,10
My list: ['7', '12', '13', '11', '10']
Second largest number in the list is 12 which was found at index 1.