

1. Task 1
Write python program, which prints the following sequences of values in loops:
a) 24, 18, 12, 6, 0, -6
b) -10, -5, 0, 5, 10, 15, 20
c) 18, 27, 36, 45, 54, 63
d) 18,-27, 36,-45,54,-63
=====================================================================
Hints(1): Use a while loop for solving these problems.
Hints(2): We are already familiar with the print() function. But when we use it to print any value it
automatically adds an additional newline after each print statement.
For example:
print(1)
print(2)
Output:
1
2
====================================================================

a) 24, 18, 12, 6, 0, -6

In [ ]:
counter = 24

while counter>= -6:
  if counter == -6:
    print(counter, end = ",")
  else:6
    print(counter,end= ",")
  counter = counter - 6

24,18,12,6,0,-6

b) -10, -5, 0, 5, 10, 15, 20

In [ ]:
#task1
counter = -10

while counter <= 20:
  if counter ==-10:
    print(counter,end=",")
  else:
    print(counter, end = ",")
  counter = counter + 5

-10-5,0,5,10,15,20,

c) 18, 27, 36, 45, 54, 63

In [ ]:

counter = 18

while counter <= 63:
  if counter == 18:
    print(counter,end = ",")
  else:
    print(counter,end = ",")

  counter = counter + 9

18,27,36,45,54,63,

c) 18, 27, 36, 45, 54, 63

In [ ]:
#Task 1
counter = 18

while counter <= 63:
  if counter % 2 ==0:
    print(counter,end = ",")

  else:
    if counter == 63:
      print("-" + str(counter),end = "üòã")
    else:
      print("-" + str(counter),end = ",")


  counter = counter + 9

18,-27,36,-45,54,-63üòã

‚ñ∂ If the user enters ‚ÄúToyota‚Äù and 20, your program should print the name ‚ÄúToyota‚Äù twenty
times.
Input:
Toyota
2
Output:
Toyota
Toyota

In [ ]:
x = input()
y = int(input())

i = 0
while i<y:
  print(x)
  i= i+1

jerry
6
jerry
jerry
jerry
jerry
jerry
jerry

In [ ]:
x = input()
y = int(input())

for i in range(0,y):
  print(x)

Nafis
20
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis
Nafis

Write a Python code of a program that adds all numbers that are multiples of both 7 and 9 up to 600
(including 600).
Output: 2835

In [ ]:

sum = 0
for i in range(0,600):
  if i % 7==0 and i % 9==0:
    sum+=i

print("Output:",sum)

Output: 2835

In [ ]:

sum = 0
i = 0
while  i <=600 :
  if i % 7 == 0 and i % 9 == 0:
    sum+=i
  i+=1 #i is incremented inside the while loop not under if statement
print("Output:",sum)

Output: 2835

Write a Python code of a program that adds all numbers that are multiples of either 7 or 9 up to
600(including 600).
Ensure that numbers like 63 are added only once in the sum.Output: 42649

In [ ]:

sum = 0
for i in range(0,600):
  if i % 7==0 or i % 9==0:
    sum+=i

print("Output:",sum)

Output: 42649

In [ ]:

sum = 0
i = 0
while i <= 600:
  if i % 7 == 0 or i % 9 == 0:
    sum += i
  i+=1
print("Output:",sum)

Output: 42649

Write a Python code of a program that adds all numbers that are multiples of either 7 or 9 but not
both, up to 600(including 600).
Output: 39814

In [ ]:

sum = 0
for i in range (0,601):
  if i % 7 == 0 and i % 9 ==0:
    pass
  elif (i % 7 == 0) or (i % 9 == 0):
    sum += i
print("Output:",sum)

Output: 39814

In [ ]:
sum = 0

for i in range(0,601):
  if i % 7 == 0 and i % 9 == 0:
    None


  elif i % 7 == 0 or i % 9 ==0:
    sum += i

print(sum)

39814

In [ ]:
sum = 0

for i in range(0,601):
  if i % 7 == 0 and i % 9 == 0:
    ...


  elif i % 7 == 0 or i % 9 ==0:
    sum += i

print(sum)

39814

In [ ]:
sum = 0

for i in range(0,601):
  if i % 63 == 0:
    "Do Nothing"


  elif i % 7 == 0 or i % 9 ==0:
    sum += i

print(sum)

39814

In [ ]:
sum = 0

for i in range(0,601):
  if i % 7 == 0:
    if i % 9 != 0:
      sum += i
  elif i % 9 == 0:
    if i % 7 != 0:
      sum += i

print(sum)

39814


Write a Python code to displays all the odd numbers between 10 and 50.
Output: 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:

count = 0

for count in range(10,51):
  if count % 2 != 0:
    print(count, end = " ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:

i = 10
while i <= 50:
  if i % 2 != 0:
    print(i, end = " ")
  i+=1

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

Write a Python code that will calculate the value of y if the expression of y is as follows (n is the
input): y =  1^2-2^2+3^2-4^2+5^2......n^2 Input:
10
Output:
-55

In [ ]:
n = int(input())
sum = 0
for i in range(1,n+1) :
  if i % 2==0:
    sum = sum - (i**2)
  else:
    sum = sum + (i**2)
print(sum)

10
-55

Write a Python code of a program that asks the user to enter ten numbers then display the total and
the average of ONLY the odd numbers among those ten numbers. [Use of list is completely
unnecesary for this task] Input:
1
2
3
4
5
6
7
8
9
10
Output: Total is 55 and Average is 5.0

In [ ]:
Total = 0
count = 0
for i in range(0,10):
  x = int(input())
  if x % 2 !=0:
    Total += x

    count += 1

print("Total is:",Total)
Average = Total / count

print("Average is:",Average)

1
2
3
4
5
6
7
8
9
10
Total is: 25
Average is: 5.0

Write a Python code for the following:
‚óè Ask the user to enter a Number, N
‚óè Display the summation of multiples of 7 up to that number (from 1 to N inclusive)
==========================================================
Example01:
Input:
50
Output:
196
Explanation:
7 + 14 + 21 + 28 + 35 + 42 + 49 = 196
=========================================================

In [ ]:
N = int(input())
Total = 0
for i in range(7,N+1):
  if i % 7 == 0:
    Total += i
print(Total)

50
196

In [ ]:
N = int(input())
Total = 0
i = 0
while i<= N:
  if i % 7 ==0:
     Total += i
  i+=1
print(Total)

50
196

Write a Python program that takes a number from the user and prints its digits from left to right. (left
to right)
[The input number has to be an INTEGER]
=========================================================================
Example: if the user gives 32768, then print 3, 2, 7, 6, 8
=========================================================================
Hint: The input() function, converts the input data to String data type by default. Use this knowledge
to solve this problem.

In [ ]:
x = int(input())
final= ""
i = 0
while x>0:
  y = str (x % 10)
  final += y
  z = x // 10
  x = z

final = final[::-1]
for i in range(0,len(final)):
  if i == len(final)-1:
    print(final[i])
  else:
    print(final[i],end= ",")

326789
3,2,6,7,8,9

Write a Python program which takes a number and prints the digits from the unit place, then the
tenth, then hundredth, etc. (Right to Left)
[Consider the input number to be an INTEGER]
Example: If the user gives 32768, then print 8, 6, 7, 2, 3

In [ ]:
x = int(input())

final = ''
while x > 0 :
  y = str(x%10)
  final += y
  z = x // 10
  x = z

for i in range(0,len(final)):
  if i == len(final)-1:
    print(final[i])
  else:
    print(final[i], end=',')

32678
8,7,6,2,3

Write a Python program that takes a number and tells how many digits are in that number.
[Consider the input number has to be an INTEGER]
You are not allowed to use len() function
Example: If the user gives 9876, you should print 4.
Hint: Keep floor dividing by ten and count how many times this could be divided.
9876 floor divide by 10, is 987, count that got 1 digit (total 1)
987 floor divide by 10, is 98, count that got 1 digit (total 2)
98 floor divide by 10, is 9, count that got 1 digit (total 3)
9 floor divide by 10, is 0, count that got 1 digit (total 4)
Done! (When the number becomes 0 your loop should end.)

In [ ]:
x = int(input())

final =''
while x > 0 :
  r = str(x%10)
  final += r
  z = x // 10
  x = z
#final = len(final)
count = 0
for i in final:
  count += 1
#print(final)
print(count)

354564
6

Write a Python program that takes a number from the user and prints the divisors of that number and
then print how many divisors were there. [The input number has to be an INTEGER]
==========================================================
Example01:
Input:
6
Output:
1, 2, 3, 6
Total 4 divisors.

==========================================================

In [ ]:
x = int(input())

for i in range(1,x+1):
  if x % i == 0:

    if i == x:
      print(i)

    else:
      print(i,end=",")

6
1,2,3,6

In [ ]:
x = int(input())

i = 1
while i <= x:
  if x % i == 0:
    if i == x:
      print(i)
    else:
      print(i,end=',')
  i += 1

6
1,2,3,6

Write a Python program that takes a number and tells if it is a perfect number or not. [The input
number has to be an INTEGER]
Perfect Number: An integer number is said to be a perfect number if its factors, including 1 but not
the number itself, sum to the number.
==========================================================
Example01:
Input:
6
Output:
6 is a perfect number
Explanation:
6 have 4 divisors: 1, 2, 3, and 6.
If we add all factors except itself, 6 = 1 + 2 + 3.
==========================================================
Example02:
Input:
28
Output:
28 is a perfect number.
Explanation:
33 have 3 divisors: 1, 3, 11, and 33.

If we add all factors except itself, 15 = 1 + 3 + 11

In [ ]:
x = int(input("Input:"))
count = 0

for i in range(1,x):
  if x % i == 0:
    count += i
if count == x:
    print("Output:",x," is a perfect number.")
else:
    print("Output:",x," is not a perfect number.")

Input:13
Output: 13  is not a perfect number.

In [ ]:
x = int(input("Input:"))
count = 0

i = 1
while i < x:
  if x % i == 0:
    count += i
  i += 1
if count == x:
  print(f"Output: {x} is a perfect number.")
else:
  print(f"Output: {x} is not a perfect number.")

In [ ]:
x = int(input("Input: "))
count = 0

for i in range(1, x):
    if x % i == 0:
        count += i

if count == x:
    print(f"Output: {x} is a perfect number.")
else:
    print(f"Output: {x} is not a perfect number.")

Input: 28
Output: 28 is a perfect number.

Write a Python program that asks the user for one number and tells if it is a prime number or not.
[The input number has to be an INTEGER]
Prime Number: If a number has only two divisors, (1 and itself), then it is prime. If it is divisible by
more numbers, then it is not a prime.
==========================================================
Hint: use the divisor count from task 16.
==========================================================
Example01:
Input:
11
Output:
11 is a prime number
Explanation:
11 has only 2 divisors: 1, and 11.
==========================================================
Input:
6
Output:
6 is not a prime number
Explanation:
6 have 4 divisors: 1, 2, 3 and 6.

In [ ]:
x = int(input("Input:"))
count = 0
flag = True

if x == 0 or x == 1:
   print(x, "is not a prime number")
elif x>1:
  for i in range(1,x+1):
    if x % i == 0:
      count += 1

if count == 2:

  print(f"Output: {x} is a prime number.")

else:
  print(f"Output: {x} is not a prime number.")

Write a Python program that asks the user for a quantity then takes that many numbers and prints
the maximum, minimum and average of those numbers.
[CANNOT USE MAX,MIN BUILT-IN FUNCTIONS][FOR THIS TASK YOU DO NOT NEED TO USE
LISTS]
Example01: If the user enters 5 as an input for quantity. Then enters 10, 4, -1, -100, and 1.
Your program output should be: ‚ÄúMaximum 10‚Äù, ‚ÄúMinimum -100‚Äù, ‚ÄúAverage is -17.2‚Äù
Input:
5 10 4 -1 -100 1.
Output:
Maximum 10
Minimum -100
Average is -17.2
Explanation:
Average calculation: (10+4 + (-1) + (-100) + 1)/5 = -86/5=-17.2

In [ ]:
x = input("Please Enter a Num: ")
min = " "
count = 0
max = " "

for i in range(0,len(x)):
  if x[i] != ' ' and x[i] != ',' :
    min += x[i]
    count += 1
  else:
    count += 1
    break
  y = ''

for i in range(count,len(x)):
  if x[i] != ' ' and x[i] != ',':
    y += x[i]
  else:
    if int (y) < int (min):
      min = y
    elif int (y) > int (min):
      min = y
    y = ''

if int(y)<int(min):
    min = y

print(min)

Please Enter a Num: 1 0 -3 -50 3 -4 -5
-50

In [ ]:
x = input()
min = ''
sum = 0
Totalnum = 0
count = 0
for i in range(0,len(x)):
  if x[i] != ' ' and x[i] != ',':
    min+=x[i]
    count+=1
  else:
    count+=1
    sum += int(min)
    Totalnum += 1
    break
y = ''
max = min
for i in range(count,len(x)):
  if x[i] != ' ' and x[i] != ',':
    y+=x[i]
  else:
    sum  += int(y)
    Totalnum += 1
    if int(y)<int(min):
      min = y
    elif int(y)>int(max):
      max = y
    y = ''


if int(y)<int(min):
      min = y
elif int(y)>int(max):
      max = y
average = sum // Totalnum
print("Min: ",min)
print("Max: ",max)
print("average:", average)

1 0 -3 -50 3 -4 -5
Min:  -50
Max:  3
average: -9

Write a python program that prints a square of size N using + where N will be given as input.
=======================================
Sample Input 5
Sample Output
+++++
+++++
+++++
+++++
+++++
=======================================
Sample Input 3
Sample Output
+++
+++
+++

In [ ]:
N = int(input())


for i in range(0,N):
  print("+"*N)

8
++++++++
++++++++
++++++++
++++++++
++++++++
++++++++
++++++++
++++++++

Write a python program that prints a rectangle of size M (height/line numbers) and N(length/column
numbers) using incrementing numbers where M,N will be given as input.
===================================
Sample Input 4,6
Sample Output
123456
123456
123456
123456
===================================
Sample Input 3,2
Sample Output
12
12
12

In [ ]:
M = int(input("Line num:"))
N = int(input("column:"))

for i in range(1,M+1):


  for i in range(1,N+1):
    print(i, end = "")

  print()

Line num:4
column:6
123456
123456
123456
123456

Write a python program that prints a right angled triangle of height N using incrementing numbers
where N will be given as input.
====================================
Sample Input 4
Sample Output
1
12
123
1234
====================================
Sample Input 5
Sample Output
1
12
123
1234
12345

In [ ]:
N = int(input())

for i in range(1,N+1):
 for j in range(1,i+1):
  print(j,end='')
 print()

4
1
12
123
1234

Write a python program that prints all the fibonacci number from 0 to N where N will be given.
A Fibonacci number is a number which is the summation of its previous two fibonacci number.
First two fibonacci number are 0 and 1. So the 3rd Fib will be 0+1=1, 4th Fib will be 1+1=2, 5th Fib will be
1+2=3 and so on.
==============================
Sample Input
10
Sample Output
0 1 1 2 3 5 8
==============================
Sample Input
15
Sample Output
0 1 1 2 3 5 8 13

In [ ]:
N = int (input())
temp = 0
a = 0
b = 1
print(a,end = ' ' )
print(b, end = ' ')
for i in range(2,N):
  d = a+b
  if d<N:
    print(d,end=' ')
    a = b
    b = d

10
0 1 1 2 3 5 8

Write a python program that converts a Decimal Integer number to a Binary Number.
**A decimal can be converted to a binary number by keeping track of the remainders after each
division of that number by 2. **
================================
For example, to convert 10 to a binary number, we can follow the following approach
10/2 = 5 (Remainder 0)
5/2 = 2 (Remainder 1)
2/2 = 1 (Remainder 0)
1/2 = 0 (Remainder 1)
Take the remainders from bottom to top, which is, 1010. Binary of 10 is 1010.
Sample Input
10
Sample Output
1010
================================
For example, to convert 13 to a binary number, we can follow the following approach
13/2 = 6 (Remainder 1)
6/2 = 3 (Remainder 0)
3/2 = 1 (Remainder 1)
1/2 = 0 (Remainder 1)
Take the remainders from bottom to top, which is, 1101. Binary of 13 is 1101.
Sample Input
13
Sample Output
1101

In [ ]:
N =

Write a python program that converts a Binary number to a Decimal Integer Number.
A binary number can be converted to its corresponding decimal number by multiplying each
binary digit with a power of 2 where the power denotes the position of the binary digit
========================================
For example, to convert 1010, we can do this -
Sample Input
1010
Sample Output
10
========================================
For example, to convert 1101, we can do this -
2^3 * 1 + 2^2 *1 + 2^1*0 + 2^0*1 = 13
Sample Input
1101
Sample Output
13

In [ ]:
N = input()
b = 0
sum = 0
N1 = N[::-1]         #1011
for i in range(0,len(N1)):
  b = 2**(i)*int(N1[i])
  sum += b

print(sum)

1101
13

Take five numbers from the user and find the minimum and the average of only the even numbers
entered by the user. [If the user enters odd numbers ignore them]
[CANNOT USE MAX,MIN BUILT-IN FUNCTIONS] [FOR THIS TASK YOU DO NOT NEED TO USE
LISTS]
Assume, the first input is always an even number.
============================================================
Example01: If the user enters 10, 4, -1, -100, and 1.
Output: ‚ÄúMinimum -100‚Äù, ‚ÄúAverage is 28.66667‚Äù
Input:
10
4
-1
-100
1
Output:
Minimum -100
Average is 28.66667
Explanation:
Average calculation: (10+4 + (-100))/3 = -86/3=-28.66667
============================================================
Example02: If the user enters 2, 10, 1, 21, and 3.
Output: Minimum 2‚Äù, ‚ÄúAverage is 6.0‚Äù
Input:
2
10
1
21
3
Output:
Minimum 2
Average is 6.0
Explanation:
Average calculation: (2+10)/2 = 12/2= 6

In [ ]:
N = int(input())
min = N
sum = 0
avg = 0
i = 0
count = 0
if N % 2 ==0:
  sum += N
  count += 1
while i < 4:
  N2 = int(input())
  if N2 % 2 == 0:
    sum += N2
    count += 1
  if N2 < min:
    min = N2
  i+=1
avg = sum / count
print(min)
print(avg)

10
4
-100
-1
1
-100
-28.666666666666668

Write a Python code for the following:
‚óè Ask the user to enter a number, N (Total number of inputs to be taken). Assume that the user
will never enter the first number as zero.
‚óè Take N number of inputs
‚óè Prints out the product of all the numbers read
For example, if the first input is 4, then the program has to read in four numbers from the user and
print the product of these four numbers.
=========================================================================
Example01:
Input:
5
10
6
4
2
1
Output:
480
Explanation:
5 is the total number of inputs taken. Then, the calculation should be 10 X 6 X 4 X 2 X 1 = 480

In [ ]:
N = int(input("Total num of input: "))
n1 = int(input())
mul = n1
i = 0
while i<N-1:
  n2 = int(input())
  mul = mul*n2
  i += 1
print(mul)

Ask the user for a range (a starting number and an ending number). Count how many numbers are
prime numbers and how many numbers are perfect numbers between that range and print those
numbers.
=========================================================================
Hint (1): Declare two strings/lists to store the prime and perfect numbers. Inside the iteration store
the values of the prime and perfect numbers in the pre- declared variables.
Hint (2):
ans = "Prime numbers: "
prime_value = 11 ans = ans + str(prime_value) + " "
print(ans)
ans = ans + str(13) + " "
print(ans)
Output:
Prime numbers: 11
Prime numbers: 11 13
=========================================================================
Example:between 2 and 6, there are 3 prime numbers (2, 3, 5) and 1 perfect number (6).
Input:
2
6
Output:
Between 2 and 6,
Found 3 prime numbers
Found 1 perfect number
Prime numbers: 2 3 5
Perfect numbers: 6

In [ ]:
s1 = int(input())
s2 = int(input())
a = 0
b = 0
pr_count = 0
pcount1 = 0

for i in range(s1, s2 + 1):
  for j in range(1,i+1):
    if i % j == 0:
        a = a+ str(j) + ' '
        pr_count += 1


    if i > j and count == j:
        b = b+ str(j) + ' '


#print(count)
#print(count1)
print("Prime nums are:",a)
print("Perfect nums are:",b)

2
6

TypeError: unsupported operand type(s) for +: 'int' and 'str'